Prepared By Talha Tariq

# Introduction to Data Science Lab 02

## Table of Content

* Revision and Tasks
    * Introduction to Jupyter Notebook
    * Introduction to Python
    * Print
    * User Input
    * Variables and Data Types
    * Conditional Statements
    * Loops
    * Functions
    * Lists
* Dictionaries
* Tuples
* Set
* Lambda Function
* Class

## Introduction

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing. Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

## Print statement

In [ ]:
print('This is my first hands-on in Python :)')
print("Second lab of IDS")

This is my first hands-on in Python :)
Second lab of IDS

In [ ]:
print('This is my {} hands-on in {} :)'.format('first', 'Python'))

This is my first hands-on in Python :)

## User Input

In [ ]:
data=input
name = input("Enter username:")
print("Username is: " + name)

Enter username:Talha Tariq
Username is: Talha Tariq

## Variables/Data types

In [ ]:
x = 1
y = 3.5
z = 'Programming'
w = True

In [ ]:
print(x, y, z, w)

1 3.5 Programming True

In [ ]:
print(type(x), type(y), type(z), type(w))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

## Arithmetic Operators

In [ ]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x / 2)  # Division
print(3 ** 2)  # Exponentiation

2
0
2
0.5
9

In [ ]:
x += 1
print(x)

x *= 2
print(x)

2
4

In [ ]:
import math

x=100
y=math.sqrt(x)
print(y)

10.0

## Boolean Operators

In [ ]:
t, f = True, False

print(t and f) # Logical AND
print(t or f)  # Logical OR
print(not t)   # Logical NOT
print(t != f)  # Logical XOR

False
True
False
True

## Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter

print(hello, len(hello)) #len=length

hello 5

In [ ]:
hw = hello + world  # String concatenation
print(hw)

helloworld

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

hello world 12

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', 'DD'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace
print("$="+str(234)) # concatenate a string and a number

Hello
HELLO
  hello
 hello
heDDDDo
world
$=234

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

## Conditionals

In [ ]:
my_variable = 5

if my_variable < 0:
  print("negative")
  print(" number")
elif my_variable == 0:
  print("null")
else:
  print("positive")

positive

Here < and > are the strict less and greater than operators, while == is the equality operator (not to be confused with =, the variable assignment operator). The operators <= and >= can be used for less (resp. greater) than or equal comparisons.

## Loops

Loops are a way to execute a block of code multiple times. There are two main types of loops: while loops and for loops.

In [ ]:
i = 0
while i <= len('Program'):
  print(i)
  i += 1 # equivalent to i = i + 1

0
1
2
3
4
5
6
7

In [ ]:
for p in range(2,10):
  print(p)

2
3
4
5
6
7
8
9

In [ ]:
for x in "bananarama":
  if x=='a':
      print(x)

a
a
a
a
a

# Exercise
## Online Store Shopping Cart
Write a Python program to simulate the online store's shopping cart system. The program should use a while loop to provide an interactive shopping experience.


### Tasks:
* Initialize an empty list called shopping_cart to store items.
* Display a welcome message and available products.
* Loop should be iterating over AI Response Simulator and Investment decision and keep asking for user input.
* Prompt the user to enter the number corresponding to the product they want to add to the cart.
* Check if the user entered 'q'. If so, break the loop.
* Convert the choice to an integer and validate it within the valid range (1 to 3).
* Based on the user's choice, add the selected product to the shopping_cart list.
* Display a confirmation message indicating the added product.
* Continue the loop to allow the user to add more products or proceed to checkout.
* After the loop ends, display the contents of the shopping cart.
* Display a goodbye message.
* End the program.

In [1]:
shopping_cart = []
choice = "0"
print("Welcome to Store")
while (choice != "q"):
    choice = input("Enter the ID of the product you want to add or press q to exit")
    if(choice == "q" or int(choice) == 1 or int(choice) == 2 or int(choice) == 3):
        if (choice == "q"):
           print("Goodbye")
           break
        elif (choice == "1"):
            print("You have added a dumbbell to your cart")
            shopping_cart.append("Dumbbell")
        elif (choice == "2"):
            print("You have added a yoga mat to your cart")
            shopping_cart.append("Yoga Mat")
        elif (choice == "3"):
            print("You have added a weight bench to your cart")
            shopping_cart.append("Weight Bench")
    else:
        print("Invalid choice")
print("Shopping cart contents:")
for i in shopping_cart:
    print(i)

Welcome to Store
You have added a dumbbell to your cart
You have added a yoga mat to your cart
You have added a weight bench to your cart
Goodbye
Shopping cart contents:
Dumbbell
Yoga Mat
Weight Bench

## Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

In [ ]:
print(sign(-5))

negative

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Talha')
hello('Talha!', loud=True)

Hello, Talha!
HELLO, TALHA!

In [ ]:
def square(x):
  return x ** 2

def multiply(a, b):
  return a * b

# Functions can be composed.
square(multiply(3, 2))

36

In [ ]:
def multi_values(x):
    y=x ** 2
    z=y ** 2

    return y,z

b=multi_values(5)
print(' {}'.format(b))

 (25, 625)

## Lists
A list is a collection of values enclosed in square brackets []. It can hold elements of different types.

### List Characteristics:

* Lists are ordered collections.
* Lists are mutable (can be changed after creation).
* Lists can contain duplicate elements.

In [ ]:
my_list = [1, 2, 3, 'apple', 'banana'] # creating a list

my_list #print a list
my_list[3] # print values from index 3 to 4 (4 exclusive)
my_list[2:5] # print values from index 2 to 5 (5 exclusive)

['apple', 'banana']

In [ ]:
for i in my_list: # iterate list by loop
    print(i)

1
2
3
apple
banana

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared = [x**2 for x in numbers]
print(squared)          # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
numbers.sort()
numbers.reverse()
print(numbers)

[9, 6, 5, 4, 3, 2, 1, 1]

Further operations are here:

* append()   : Used for appending and adding elements to the end of the List.

* copy()     : It returns a shallow copy of a list.        

* clear()    : This method is used for removing all items from the list.   

* count()    : These methods count the elements.                            

* extend()   : Adds each element of the iterable to the end of the List.     

* index()    : Returns the lowest index where the element appears.           

* insert()   : Inserts a given element at a given index in a list.          

* pop()      : Removes and returns the last value from the List or the given index value.

* remove()   : Removes a given object from the List.                        

* reverse()  : Reverses objects of the List in place.                       

* sort()     : Sort a List in ascending, descending, or user-defined order.

* min()      : Calculates the minimum of all the elements of the List.      

* max()      : Calculates the maximum of all the elements of the List.

In [ ]:
# Array
import array as arr
data_array = arr.array("i", [2,5,7,4,5,1,11,2,5])
print(data_array)

array('i', [2, 5, 7, 4, 5, 1, 11, 2, 5])

In [ ]:
# Set
# Does not allow duplicate values.
data_set = {2,5,7,4,5,1,11}
print(data_set)

{1, 2, 4, 5, 7, 11}

In [ ]:
# Tuple
# Tuple items are ordered, unchangeable, and allow duplicate values.
data_tuple = ("apple", "banana", "cherry")
print(data_tuple)

('apple', 'banana', 'cherry')

# Dictionaries
Dictionaries allow you to associate values with unique keys, enabling efficient data retrieval and manipulation. Dictionaries are unordered collections of key-value pairs. Each key is unique and associated with a value. Dictionaries are created using curly braces {} and key-value pairs separated by colons :.

## Creating and Accessing Dictionaries

In [ ]:
# Creating a dictionary
student = {
    "name": "John",
    "age": 20,
    "major": "Computer Science"
}

In [ ]:
print(student["name"])
print(student["age"])

John
20

In [ ]:
print(student)

{'name': 'John', 'age': 20, 'major': 'Computer Science'}

### Manipulating Dictionaries
#### Modifying Values:

In [ ]:
student["age"] = 26
print(student["age"])

26

#### Adding New Key-Value Pairs:

In [ ]:
student["city"] = "New York"
print(student)

{'name': 'John', 'age': 26, 'major': 'Computer Science', 'city': 'New York'}

#### Deleting Key-Value Pairs:

In [ ]:
del student["age"]
print(student)

{'name': 'John', 'major': 'Computer Science', 'city': 'New York'}

In [ ]:
student.pop("city")

'New York'

In [ ]:
print(student)

{'name': 'John', 'major': 'Computer Science'}

#### Dictionary Methods:
* keys(): Returns a list of all keys in the dictionary.
* values(): Returns a list of all values in the dictionary.
* items(): Returns a list of tuples, each containing a key-value pair.

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'major'])
dict_values(['John', 'Computer Science'])
dict_items([('name', 'John'), ('major', 'Computer Science')])

In [ ]:
tools={"machanic":["Hammer", "Screwdriver", "etc"],
      "electrician": ["tester","wires", "holders"],
      True:False,
      23.5:"b"}
for m in tools:
    print(m)

machanic
electrician
True
23.5

In [ ]:
for m in tools:
    print(tools[m])

['Hammer', 'Screwdriver', 'etc']
['tester', 'wires', 'holders']
False
b

## English-Spanish Dictionary
You are creating a basic English-Spanish dictionary that allows users to look up English words and find their Spanish translations.


### Tasks
* Create a dictionary where English words are keys and their Spanish translations are values.
* Ask the user to input an English word.
* Check if the word exists in the dictionary.
* If the word exists, print its Spanish translation.
* If the word does not exist, inform the user that the translation is not available.
* Implement a loop that allows the user to keep looking up words until they choose to exit.

In [2]:
dict = {"spanish" : "espanol", "hello": "hola", "thanks" : "gracias"}

choice = 'a'
while(choice != 'e'):
    word = input("Enter a word in english")
    if word in dict:
        print(dict[word])
    else:
        print("Word not found")
    
    choice = input("Press e to exit")

espanol
gracias

#Lambda Function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
# simple function
def add(a):
  return a + 10

add(5)

15

In [3]:
x = lambda a, b : a * b
x(5, 6)

30

## Online Store Discounts

You're building an online store that offers discounts based on membership levels. Write a lambda function that calculates the discounted price for an item based on the user's membership level. The discount percentages are as follows:

* Regular: 10% off
* Premium: 20% off
* VIP: 30% off

Use the lambda function to calculate the final price of an item with a given price and membership level.

In [6]:
x = lambda a,b : a * b
phoneprice = 10.0
membershiplevel = input("Enter membership level")
if membershiplevel == "Regular":
    print(x(phoneprice,0.9))
elif membershiplevel == "Premium":
    print(x(phoneprice,0,8))
elif membershiplevel == "VIP":
    print(x(phoneprice,0.7))
else:
    print("Invalid membership status")

7.0

# Happy Coding :)