Imports

In [24]:
import requests
import numpy as np
import pandas as pd
url = "https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv"
response = requests.get(url)

if response.status_code == 200:
    with open("vgsalesGlobale.csv", "wb") as file:
        file.write(response.content)
    print("File downloaded successfully.")
else:
    print("Failed to download the file.")

File downloaded successfully.

In [25]:
df=pd.read_csv("vgsalesGlobale.csv", sep=',')

In [26]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [27]:
#Total Global Sales
df['Global_Sales'].sum()

np.float64(8920.44)

In [28]:
#Game with Highest Global Sale
highest_global_sales_game = df.loc[df['Global_Sales'].idxmax()]
print(highest_global_sales_game)

Rank                     1
Name            Wii Sports
Platform               Wii
Year                2006.0
Genre               Sports
Publisher         Nintendo
NA_Sales             41.49
EU_Sales             29.02
JP_Sales              3.77
Other_Sales           8.46
Global_Sales         82.74
Name: 0, dtype: object

In [29]:
# Determine the average sales for each region
average_sales_na = df['NA_Sales'].mean()
average_sales_eu = df['EU_Sales'].mean()
average_sales_jp = df['JP_Sales'].mean()
average_sales_other = df['Other_Sales'].mean()
print("Average sales in North America: ", average_sales_na)
print("Average sales in Europe: ", average_sales_eu)
print("Average sales in Japan: ", average_sales_jp)
print("Average sales in other regions: ", average_sales_other)

Average sales in North America:  0.26466742981082064
Average sales in Europe:  0.14665200626581515
Average sales in Japan:  0.077781660441017
Average sales in other regions:  0.0480630196409206

In [38]:
# Find the top 5 most popular game genres based on global sales
top_5_genres = df.groupby('Genre')['Global_Sales'].sum().sort_values(ascending=False).head(5)
print(top_5_genres)

Genre
Action          1751.18
Sports          1330.93
Shooter         1037.37
Role-Playing     927.37
Platform         831.37
Name: Global_Sales, dtype: float64

In [31]:
# Calculate the total sales for each genre in each region
total_sales_by_genre_region = df.groupby('Genre')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()
print(total_sales_by_genre_region)

              NA_Sales  EU_Sales  JP_Sales  Other_Sales
Genre
Action          877.83    525.00    159.95       187.38
Adventure       105.80     64.13     52.07        16.81
Fighting        223.59    101.32     87.35        36.68
Misc            410.24    215.98    107.76        75.32
Platform        447.05    201.63    130.77        51.59
Puzzle          123.78     50.78     57.31        12.55
Racing          359.42    238.39     56.69        77.27
Role-Playing    327.28    188.06    352.31        59.61
Shooter         582.60    313.27     38.28       102.69
Simulation      183.31    113.38     63.70        31.52
Sports          683.35    376.85    135.37       134.97
Strategy         68.70     45.34     49.46        11.36

In [32]:
# Find the most popular genre in North America
most_popular_genre_na = total_sales_by_genre_region['NA_Sales'].idxmax()
print("The most popular genre in North America is: ", most_popular_genre_na)

The most popular genre in North America is:  Action

In [33]:
# Display the last 10 rows
last_10_rows = df.tail(10)
print(last_10_rows)

        Rank                                               Name Platform  \
16588  16591                                   Mega Brain Boost       DS
16589  16592  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...      PSV
16590  16593  Eiyuu Densetsu: Sora no Kiseki Material Collec...      PSP
16591  16594                                Myst IV: Revelation       PC
16592  16595                                           Plushees       DS
16593  16596                 Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                      Men in Black II: Alien Escape       GC
16595  16598   SCORE International Baja 1000: The Official Game      PS2
16596  16599                                         Know How 2       DS
16597  16600                                   Spirits & Spells      GBA

         Year         Genre              Publisher  NA_Sales  EU_Sales  \
16588  2008.0        Puzzle  Majesco Entertainment      0.01      0.00
16589  2016.0        Action        dramatic create      0.00      0.00
16590  2007.0  Role-Playing     Falcom Corporation      0.00      0.00
16591  2004.0     Adventure                Ubisoft      0.01      0.00
16592  2008.0    Simulation              Destineer      0.01      0.00
16593  2002.0      Platform                  Kemco      0.01      0.00
16594  2003.0       Shooter             Infogrames      0.01      0.00
16595  2008.0        Racing             Activision      0.00      0.00
16596  2010.0        Puzzle               7G//AMES      0.00      0.01
16597  2003.0      Platform                Wanadoo      0.01      0.00

       JP_Sales  Other_Sales  Global_Sales
16588      0.00          0.0          0.01
16589      0.01          0.0          0.01
16590      0.01          0.0          0.01
16591      0.00          0.0          0.01
16592      0.00          0.0          0.01
16593      0.00          0.0          0.01
16594      0.00          0.0          0.01
16595      0.00          0.0          0.01
16596      0.00          0.0          0.01
16597      0.00          0.0          0.01

In [34]:
# Determine the top 3 gaming platforms with the highest global sales
top_3_platforms = df.groupby('Platform')['Global_Sales'].sum().sort_values(ascending=False).head(3)
print(top_3_platforms)

Platform
PS2     1255.64
X360     979.96
PS3      957.84
Name: Global_Sales, dtype: float64

In [35]:
# Calculate the market share for each genre
total_global_sales_all_genres = df['Global_Sales'].sum()
market_share_by_genre = (df.groupby('Genre')['Global_Sales'].sum() / total_global_sales_all_genres) * 100
print(market_share_by_genre)

Genre
Action          19.631094
Adventure        2.679688
Fighting         5.032375
Misc             9.079821
Platform         9.319832
Puzzle           2.745941
Racing           8.206322
Role-Playing    10.396012
Shooter         11.629135
Simulation       4.396644
Sports          14.920004
Strategy         1.963132
Name: Global_Sales, dtype: float64

In [36]:
# Calculate the correlation coefficient between NA_Sales and EU_Sales
correlation_na_eu = df['NA_Sales'].corr(df['EU_Sales'])
print("Correlation coefficient between NA_Sales and EU_Sales: ", correlation_na_eu)

Correlation coefficient between NA_Sales and EU_Sales:  0.767726748370264

IMDB Task

In [42]:
df = pd.read_csv('IMDB.csv', sep=',')
print(df.head(100))

print(df.dtypes)

df['Text_Length'] = df['text'].apply(len)

label_counts = df['label'].value_counts()
print(label_counts)

df['Text_Lower'] = df['text'].str.lower()

df['Text_Clean'] = df['text'].str.replace(r'[^\w\s]', '', regex=True)

df['Word_Count'] = df['Text_Clean'].apply(lambda x: len(x.split()))

wrd = 'surprise'
filtered_wrd = df[df['text'].str.contains(wrd, case=False, na=False)]
print(filtered_wrd)

filtered_label_1 = df[df['label'] == 1]
print(filtered_label_1)

                                                 text  label
0   I grew up (b. 1965) watching and loving the Th...      0
1   When I put this movie in my DVD player, and sa...      0
2   Why do people who do not know what a particula...      0
3   Even though I have great interest in Biblical ...      0
4   Im a die hard Dads Army fan and nothing will e...      1
..                                                ...    ...
95  ...I saw this movie when it first came out in ...      1
96  Released in December of 1957, Sayonara went on...      1
97  War, Inc. - Corporations take over war in the ...      0
98  What is your freaking problem? Do you have not...      1
99  Dick and Jane Harper (Jim Carrey, T�a Leoni) w...      0

[100 rows x 2 columns]
text     object
label     int64
dtype: object
label
0    20019
1    19981
Name: count, dtype: int64
                                                    text  label  Text_Length  \
9      My Super Ex Girlfriend turned out to be a plea...      1         1468
50     When this first came out, my dad brought it ho...      1          995
61     The "old dark house" sub-genre that dominated ...      1         2658
69     Kennan Ivory Wayans was so funny in Low Down D...      0          753
75     I recently bought this movie for three bucks a...      1         3103
...                                                  ...    ...          ...
39911  i was surprised after watching this piece of c...      0          678
39912  The retelling of a classic story is set to the...      1          598
39930  I must say I was surprised to find several pos...      0         1959
39965  This is a great, ridiculous horror movie that ...      1          864
39975  I could not believe how awful this film was; I...      0          777

                                              Text_Lower  \
9      my super ex girlfriend turned out to be a plea...
50     when this first came out, my dad brought it ho...
61     the "old dark house" sub-genre that dominated ...
69     kennan ivory wayans was so funny in low down d...
75     i recently bought this movie for three bucks a...
...                                                  ...
39911  i was surprised after watching this piece of c...
39912  the retelling of a classic story is set to the...
39930  i must say i was surprised to find several pos...
39965  this is a great, ridiculous horror movie that ...
39975  i could not believe how awful this film was; i...

                                              Text_Clean  Word_Count
9      My Super Ex Girlfriend turned out to be a plea...         282
50     When this first came out my dad brought it hom...         169
61     The old dark house subgenre that dominated the...         479
69     Kennan Ivory Wayans was so funny in Low Down D...         151
75     I recently bought this movie for three bucks a...         547
...                                                  ...         ...
39911  i was surprised after watching this piece of c...         126
39912  The retelling of a classic story is set to the...         108
39930  I must say I was surprised to find several pos...         371
39965  This is a great ridiculous horror movie that c...         168
39975  I could not believe how awful this film was I ...         138

[2454 rows x 6 columns]
                                                    text  label  Text_Length  \
4      Im a die hard Dads Army fan and nothing will e...      1          983
6      Finally watched this shocking movie last night...      1         1377
8      It may be the remake of 1987 Autumn's Tale aft...      1         1137
9      My Super Ex Girlfriend turned out to be a plea...      1         1468
10     I can't believe people are looking for a plot ...      1          666
...                                                  ...    ...          ...
39992  Although I agree that it's a good but not grea...      1          873
39995  "Western Union" is something of a forgotten cl...      1         3111
39996  This movie is an incredible piece of work. It ...      1          291
39998  When I first watched Flatliners, I was amazed....      1         1045
39999  Why would this film be so good, but only gross...      1          727

                                              Text_Lower  \
4      im a die hard dads army fan and nothing will e...
6      finally watched this shocking movie last night...
8      it may be the remake of 1987 autumn's tale aft...
9      my super ex girlfriend turned out to be a plea...
10     i can't believe people are looking for a plot ...
...                                                  ...
39992  although i agree that it's a good but not grea...
39995  "western union" is something of a forgotten cl...
39996  this movie is an incredible piece of work. it ...
39998  when i first watched flatliners, i was amazed....
39999  why would this film be so good, but only gross...

                                              Text_Clean  Word_Count
4      Im a die hard Dads Army fan and nothing will e...         177
6      Finally watched this shocking movie last night...         239
8      It may be the remake of 1987 Autumns Tale afte...         188
9      My Super Ex Girlfriend turned out to be a plea...         282
10     I cant believe people are looking for a plot i...         125
...                                                  ...         ...
39992  Although I agree that its a good but not great...         158
39995  Western Union is something of a forgotten clas...         536
39996  This movie is an incredible piece of work It e...          50
39998  When I first watched Flatliners I was amazed I...         168
39999  Why would this film be so good but only gross ...         137

[19981 rows x 6 columns]